{
  presets: [
    [
      '@babel/env',
      {
        targets: {
          browsers: ['> 1% in FR', 'IE >= 10']
        },
        // Cannot use 'usage' otherwise IE 10 fails with "'Set' is undefined"
        useBuiltIns: 'entry',
        debug: false
      }
    ],
    '@babel/react',
    '@babel/typescript'
  ],
  plugins: ['@babel/proposal-class-properties', '@babel/proposal-object-rest-spread']
}
