{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["> 1% in FR", "IE >= 10"]
        },
        // Cannot use 'usage' otherwise IE 10 fails with "'Set' is undefined"
        "useBuiltIns": "entry",
        "debug": false
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
