{
  presets: [
    [
      '@babel/env',
      {
        targets: {
          browsers: ['> 1% in FR']
        },
        useBuiltIns: 'usage',
        debug: false
      }
    ],
    '@babel/react'
  ],
  plugins: ['@babel/proposal-class-properties']
}
