.hero {
  min-width: 200px;
  max-width: 575px;

  @include media-breakpoint-up(sm) {
    // https://github.com/twbs/bootstrap/blob/v4.3.1/scss/_card.scss#L162
    // stylelint-disable-next-line declaration-no-important
    margin-bottom: 2 * $card-deck-margin !important;
  }
}
