<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="version" content="<%= htmlWebpackPlugin.options.version %>" />
    <meta name="buildMode" content="<%= htmlWebpackPlugin.options.buildMode %>" />
    <meta name="date" content="<%= htmlWebpackPlugin.options.date %>" />
    <meta name="rev" content="<%= htmlWebpackPlugin.options.rev %>" />

    <title>Marvel Heroes</title>

    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div id="app"></div>
  </body>
</html>
